# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Roboflow downloaded datasets
**/data.yaml
**/train/
**/valid/
**/test/

# YOLO runs
runs/

# YOLO weights
*.pt
weights/

# System files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.py[cod]
*.so